<h1>イベント参加時コーデ</h1>

<div class="posts-container">
<% @events.each do |t| %>
  <div class="post">
    <%= link_to t.user.name, user_path(t.user.id) %> 
    <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
    <%= t.comments %>
    <%= t.created_at %>
    <%= t.category %>
    
    <% if user_signed_in? %>
    <% if current_user.already_liked?(t) %>
        <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>
    <% else %>
        <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
          <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
    <% end %>
<% else %>
  <i class="far fa-heart"></i><%= t.likes.count %>
<% end %>

    <%= link_to "詳細へ", post_path(t.id) %>
    <%= link_to "編集する", edit_post_path(t.id) %>
    <%= button_to "削除する", post_path(t.id),  method: :delete %>  
    <div>
    
</div>

<% end %>
